DEBUG=False
FRONTEND_URL=

JWT_SECRET_KEY=50cd9ad6621201d74f59b464f974d04339149c855972dfcf3b7c8c2ef1cb65a6
ENCRYPTION_KEY=24d9028456ad7f2ed53693697aa82700aae00cd5b1b262d7834dd91f182995bd

AWS_S3_ENDPOINT=
AWS_CDN_ENDPOINT=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SECRET_ACCESS_TOKEN=
AWS_S3_BUCKET=

MAIL_FROM=
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=

DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=

TEST_DB_HOST=localhost
TEST_DB_PORT=5432
TEST_DB_USER=
TEST_DB_PASSWORD=
TEST_DB_NAME=
